body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

#page-header {
  background-color: #8a65aa;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  height: 120px;
  padding: 6px;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.link-item {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}





.content img {
  max-width: 100%;
  max-height: 100px; 
  width: auto;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}


.event img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.ticket-dropdown {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.quantity {
  display: flex;
  align-items: center;
}

.quantity-label {
  margin: 0 10px;
}


.add-to-cart-btn {
  background: #8a65aa;
  color: white;
  margin: 20px auto;
  display: block;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-to-cart-btn:hover{
  background-color: #63487e;
}
.main-content-component {
  margin-bottom: 40px;
}

.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
}


.event-card {
  width: 300px;
  border: 1px solid #ebf1f6;
  box-shadow: 0 0 2px 0 rgba(145, 158, 171, 0.2), 0 12px 24px -4px rgba(145, 158, 171, 0.12);
  border-radius: 8px;
  overflow: hidden; 
  transition: transform 0.2s ease-in-out; 
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  text-align: center; 
}

.event-title {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  color: darkorchid;
}


.description {
  margin: 10px 0;
  color: darkorchid;
}


.event-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px 8px 0 0; 
  margin: 0 auto;
}


.content {
  padding: 10px;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  flex-grow: 1;
}


.event-card:hover {
  transform: scale(1.02);
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  width: 120px;
  margin: 10px auto;
}

.quantity button {
  background-color: #8a65aa;
  color: white;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.2s ease-in-out;
}

.quantity button:hover {
  background-color: #63487e;
}

.quantity span {
  font-size: 16px;
  font-weight: bold;
  margin: 0 10px;
}


.quantity-label {
  font-size: 14px;
  color: #777;
}

.date {
color:darkmagenta;

}
.ticket-dropdown select {
  background-color: #8a65aa; 
  color: #fff; 
  padding: 8px;
  border-radius: 4px;
  width: 100%;
}


.order-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-details {
  font-size: 16px;
  margin-bottom: 10px;
 
}

.order-details p {
  margin: 5px 0;
}

.cancel-order-btn {
  background-color: #8a65aa;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.edit-order-btn{
  background-color: #8a65aa;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.cancel-order-btn:hover {
  background-color: #63487e;
}

.bg-custom-color {
  background-color: #8a65aa;
}



#applyFiltersBtn:hover{
  background-color: #63487e;
}

.cancel-edit-btn {
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 12px;
  margin-bottom: 10px; 
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}


.save-edit-btn {
  background-color: green;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  margin-bottom: 10px; 
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}